<div class="row">
    <%= form_for @contact do |f| %>
      <%= f.label :name%>
      <%= f.label_field :name%>
      
      <%= f.label :email%>
      <%= f.email_field :email%>
      
      <%= f.label :comments%>
      <%= f.area :comments%>
      <% end %>
</div>